<div class="snippet">
  <h2>Paste a new snippet below:</h2>
  <form action="/" method="POST">
    <p><label for="name">Title: </label><input type="text" name="snippet_title" class="input-xxlarge" /></p>
    <textarea name="snippet_body" id="snippet_body" class="span12" rows="20"></textarea>
    <br/>
    <input type="submit" value="Save" class="btn"/>
  </form>
</div>
